.center-container {
  color: #f7f7f9;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-container {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.rotation-wrapper {
  display: grid;
  grid-template-columns: 10% auto;
  grid-template-rows: auto;
}

.headline {
  writing-mode: vertical-rl;
  align-self: center;
}

.underline {
  border-right: solid thin #f7f7f9;
  padding-right: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

.content {
  align-self: center;
}

ul {
  padding-inline-start: 1.25rem;
}

ul li {
  list-style-type: circle;
}

// MOBILE S
@media (min-width: 320px) {
  .rotation-wrapper {
    padding: 0.5rem 0;
  }

  .underline {
    padding-right: 0.2rem;
  }

  ul {
    padding-inline-start: 2.25rem;
  }

  li {
    padding: 0.2rem 0;
  }
}

// MOBILE M
@media (min-width: 375px) {
  .rotation-wrapper {
    padding: 1rem 0;
  }

  .underline {
    padding-right: 0.25rem;
  }

  ul {
    padding-inline-start: 2.25rem;
  }

  li {
    padding: 0.2rem 0;
  }
}

// MOBILE L
@media (min-width: 425px) {
  .rotation-wrapper {
    padding: 1rem 0;
  }

  .underline {
    padding-right: 0.3rem;
  }

  ul {
    padding-inline-start: 2.25rem;
  }

  li {
    padding: 0.2rem 0;
  }
}

// TABLET
@media (min-width: 768px) {
  .rotation-wrapper {
    padding: 1.25rem 0;
  }

  .underline {
    padding-right: 0.4rem;
  }

  ul {
    padding-inline-start: 2.25rem;
  }

  li {
    padding: 0.25rem 0;
  }
}

// LAPTOP
@media (min-width: 1024px) {
  .rotation-wrapper {
    padding: 1.75rem 0;
  }

  .underline {
    padding-right: 0.5rem;
  }

  ul {
    padding-inline-start: 2.25rem;
  }

  li {
    padding: 0.3rem 0;
  }
}

// LARGE DEVICE
@media (min-width: 1440px) {
  .rotation-wrapper {
    padding: 2rem 0;
  }

  .underline {
    padding-right: 0.5rem;
  }

  ul {
    padding-inline-start: 2.25rem;
  }

  li {
    padding: 0.5rem 0;
  }
}

// 4k
@media (min-width: 2560px) {
  .rotation-wrapper {
    padding: 3rem 0;
  }

  ul {
    padding-inline-start: 2.25rem;
  }

  li {
    padding: 0.5rem 0;
  }
}
